<!DOCTYPE html>
<html>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var reftk = '<%= reftk %>';
	</script>
	<script src="/assets/js/oauth.js"></script>
	<head>
	</head>
	<body>
	</body>
</html>