img {
    width: 20px;
    vertical-align: middle;
    display: none;
}
img.color {
	display: inline-block;
	
}
.list{
	margin-left: 150px;
}
#wordpress {
    display: none;
}
#myModal{
	margin-top: 50px;
}
#nut{
	margin-top: 10px;
}
#user{
	float: right;
}
.log{
	float: right;
	display: none;
}
